<!DOCTYPE html>
<html layout:decorate="~{/shared/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>Change Password</title>
</head>

<body>

	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Change Password</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Change Password</li>
						</ol>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-12">
						<!-- general form elements -->
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">Change Password Form</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->
							<form method="POST" th:object="${changePasswordForm}">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

								<div class="card-body">
									<div class="row">
										<div class="col">
											<div class="form-group">
												<label for="oldPassword">Old Password</label>
												<input type="password" class="form-control" th:field="*{oldPassword}">
												<ul>
													<li class="text-danger"
														th:each="erro : ${#fields.errors('oldPassword')}"
														th:text="${erro}"></li>
												</ul>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="password">Password</label>
												<input type="password" class="form-control" th:field="*{password}">
												<ul>
													<li class="text-danger"
														th:each="erro : ${#fields.errors('password')}"
														th:text="${erro}"></li>
												</ul>
											</div>
										</div>

										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="confirmPassword">Confirm Password</label>
												<input type="password" class="form-control"
													th:field="*{confirmPassword}">
												<ul>
													<li class="text-danger"
														th:each="erro : ${#fields.errors('confirmPassword')}"
														th:text="${erro}">
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- /.card-body -->

								<div class="card-footer">
									<button class="btn btn-primary" type="submit">Submit</button>
								</div>
							</form>
						</div>
						<!-- /.card -->
					</div>
				</div>
			</div>
		</section>
	</div>

	<th:block layout:fragment="script">

	</th:block>

</body>

</html>